**VARIABLES**

Variables are the names given to the memory Location.
It Stores Only One Values.

In [6]:
String="Zahid Is My Name"
print(String)         #IT PRINTS THE STRING VARIABLE

Zahid Is My Name

In [8]:
Int=8892512946
print(Int)            #IT PRINTS THE INT VARIABLE

8892512946

In [10]:
Value=1,3
print(Value)          #IT PRINTS THE VALUE VARIABLE

(1, 3)

In [12]:
Value1="Zahid","Ahmed"
print(Value1)     #ITS A TUPLE,SINCE IT STORES MULTIPLE VALUES

('Zahid', 'Ahmed')

In [14]:
a=5
b=6
print(a+b)         #ADDING 2 INTEGERS

11

In [16]:
print(a*b)         #IT PRINTS THE PRODUCT OF a AND b VARIABLES

30

In [18]:
print(A+b)   #Since Python is Case Sensitive,
             #So The variables should be defined properly

NameError: name 'A' is not defined

In [20]:
a="ZAHID"
b="AHMED"
print(a+b)               #CONCATENATION OF 2 STRINGS

ZAHIDAHMED

In [22]:
a="ZAHID"
b="ZAHID"
print(a+b)              #CONCATENATION OF 2 STRINGS

ZAHIDZAHID

In [13]:
Name,age,phone_no="ZAHID",30,8892512946
print(Name,age,phone_no)                      #EXAMPLE OF MULTIPLE ASSIGNMENT VARIABLES

ZAHID 30 8892512946

In [26]:
a="ZAHID"
a="AHMED"              #DYNAMIC TYPING EXAMPLE
print(a)               #NEW VALUE WILL OVERWRITE THE OLD VALUE IN THE SAME VARIABLE

AHMED

In [1]:
'''WRITE A PROGRAM TO FIND THE AREA OF RECTANGLE GIVEN THAT ITS
LENGTH IS 10 UNITS AND BREADTH IS 20 UNITS.'''
Length=10
Breadth=20
Area=Length*Breadth
print(Area)

200

In [9]:
#Write a program to display values of variables in python
Name="Zahid"
Age=30
Gender='Male'
Profession="Lecturer"
Status='''Married'''
Wife="Zainab Amber"
Children=1
print(Name, Age,Gender,Profession,Status,Wife,Children)

Zahid 30 Male Lecturer Married Zainab Amber 1

In [15]:
print("Self Introduction")
print("I am",Name,"And I am ",Age,"years old")
print("I am ",Gender,"And I am a ",Profession)
print("I am ",Status,".","My Wife's Name is",Wife,"And I have",Children,"Child")

Self Introduction
I am Zahid And I am  30 years old
I am  Male And I am a  Lecturer
I am  Married . My Wife's Name is Zainab Amber And I have 1 Child

**IDENTIFIERS**

An Identifiers are the names which is used to identify variables,objects,classes or any other Entities defined by the programmer.
Rules For Identifiers
1.An Identifier Must begin Either with Upper case Letters or Lower Case Letters Or Underscore(_)sign.It Should Not Begin With Numbers.
2.An Identifier Should not be Keywords.
3.An Identifier Can be of Any Length.(However It Is Prefered to keep in short and Meaningfull.)
4.An Identifier Should Not Begin with special symbols like !,@,#,$,% etc

In [25]:
#WRITE A PYTHON PROGRAM TO FIND THE SUM OF TWO NUMBERS
A=5
B=10
SUM=A+B
print("Sum Of 2 Numbers is",SUM)

Sum Of 2 Numbers is 15

**DATA TYPES**

In [ ]:
#THERE ARE 4 MAIN TYPES OF DATA TYPES
1.STRING-"ZAHID","AHMED"
2.INT-88,92,
3.FLOAT-98.3,96.5
4.BOOLEAN-TRUE,FALSE

type()-GIVES THE TYPE OF THE VARIABLE OR A DATA STRUCTURE
PRINT()-IT DISPLAYS THE RESULT

In [27]:
A=77
B="MOHAMMED"
C="AASIM"
D=98.55
E=67.
F='SUHAIB'
G=('ASDF')
type(A)
type(C)
type(D)

float

In [49]:
print(A)

77

In [81]:
#Demo Of Numeric Data Types
import sys
num_int=10
num_float=6.9
num_complex=4+2j
print(num_int)
print(num_float)
print(num_complex)
print(type(num_int))
print(id(num_float))
print(type(num_complex))
print(sys.getsizeof(num_int))

10
6.9
(4+2j)
<class 'int'>
1929909034544
<class 'complex'>
28

In [87]:
import sys
print(sys.getsizeof(num_int))
print(sys.getsizeof(num_float))
print(sys.getsizeof(num_complex))
print(num_int,"isinteger?",isinstance(num_int,int))

28
24
32
10 isinteger? True

**MUTABLE DATA TYPES**

**Type function**-determines the data type of the object

In [51]:
type(B)

str

In [53]:
type(F)

str

In [55]:
type(G)

str

In [59]:
type(E)

str

In [61]:
T=8.
type(T)

float

In [65]:
g="y",   #if comma appears then python assumes that the user can store more values in future
type(g)

tuple

In [67]:
g="y","a"
type(g)

tuple

**PRINT**-function prints the value of the object

In [69]:
h=(a)
print(h)

AHMED

In [2]:
a=55
type(a)

int

**ID**-This Function gives the Identification or Memory Address of the object

In [31]:
id(a)

1929884922864

In [37]:
print(id(a))

1929884922864

In [61]:
val=10
print(id(val))
print(type(val))

140721263885016
<class 'int'>

**INPUT**-This Function Accepts The data Values from the user and By default returns a string.

In [45]:
AGE=input("Enter Your Age:")
print("YOUR AGE IS:", AGE)

Enter Your Age: 30

YOUR AGE IS: 30

In [49]:
MARKS=int(input("Enter your FA1 Marks:"))
print("FA1 Marks is:", MARKS)

Enter your FA1 Marks: 78

FA1 Marks is: 78

In [55]:
name=str(input("what is your name"))
print("My Name is ",name)

what is your name ZAHID AHMED

My Name is  ZAHID AHMED

In [57]:
Salary=float(input("PLEASE TELL UR MONTHLY SALARY"))
print("Salary is:",Salary)

PLEASE TELL UR MONTHLY SALARY 667.87

Salary is: 667.87

**TYPE CASTING**

**TYPE CASTING**-IT CONVERTS ONE DATATYPE TO OTHER DATATYPE
some type casting functions are
1.int
2.float
3.str
4.bool
5.list
6.tuple
7.set

In [90]:
#1.Convert Integer Data Type to Float Data Type
b=10
type(b)
a1=float(b)               #Before it was integer datatype
type(a)                   #After Type Casting,It is converted to Float.

float

In [92]:
#2.Convert Integer Data Type to Float Data Type
a=2
a=float(a)
print(a)

2.0

In [94]:
#3.Convert Float Data Type to integer Data Type
b=2.5
new_value=int(b)
print(new_value)

2

In [98]:
#4.Convert string Data Type to integer Data Type
b="2"
new_value=int(b)
print(new_value)

2

In [105]:
#5.Convert string Data Type to float Data Type
x="2"
new_value1=float(x)
print(new_value1)

2.0

In [121]:
#6.Convert integer to Boolean
num_int=0
bool_val=bool(num_int)
print(bool_val)

False

In [125]:
#7.Convert a Non Empty String to Boolean
str_val="ZAHID, AHMED"
bool_val=bool(str_val)
print(bool_val)

True

In [131]:
#8.Convert a  Empty String to Boolean
emp_str_val=""
bool_val=bool(emp_str_val)
print(bool_val)

False

**IDENTIFIERS**

In [ ]:
#RULES FOR IDENTIFIERS
1.AN Identifier must Start With a letter or underscore value
2.The Remaining Characters can be any numerical values
3.It should not contain any whitespace or special character.
4.It should not be identical to keywords
5.It is case Sensitive.

In [ ]:
#Valid Identifiers
ALHAMDULILLAH
ALHAMDULILLAH8

#INVALID Identifiers
786Bismillah
if
Apple and apple are not same Identifiers.

**OPERATORS**

In [150]:
#1.WRITE A PROGRAM TO ACCEPT INPUT FROM THE USER AND PERFORM ARITHMETIC OPERATORS
val_1=int(input("Enter Any large Number"))
val_2=int(input("Enter Any Small Number"))
add=val_1 + val_2               #It Adds 2 values
diff=val_1-val_2                #It subtracts 2 values
prod=val_1 * val_2              #It multiply 2 values
div=val_1 / val_2               #It divides 2 values and displays quotient
modulo=val_1%val_2              #It modulates 2 values
exp=val_1**val_2                #It finds exponents of 2 values
floor=val_1//val_2              #It displays 2 values of the floor.it displays integer part of the quotient.
print(add)                  
print(diff)
print(prod)
print(div)
print(modulo)
print(exp)
print(floor)

Enter Any large Number 3
Enter Any Small Number 2

5
1
6
1.5
1
9
1

In [ ]:
#2.WRITE A PROGRAM TO ACCEPT INPUT FROM THE USER AND PERFORM COMPARISION OPERATORS
val_1=int(input("Enter Any large Number"))
val_2=int(input("Enter Any Small Number"))

In [ ]:
#3.WRITE A PROGRAM TO ACCEPT INPUT FROM THE USER AND PERFORM BIT WISE OPERATORS

**CONDITIONAL STATEMENTS**

In [ ]:
#Conditional Statements are used to make decisions in the code based on certain conditions
#THERE ARE 4 TYPES OF CONDITIONAL STATEMENTS
if statement
elif statement
else statement
nested conditional statement

In [171]:
#1.Demo of if statement
y=10
if y>5:
 print("y is greater than 3")

y is greater than 3

In [181]:
#2.Demo of else statement
a=3
if a>10:
 print(a,"is greater than 10")
else:
 print(a," is lesser than 10")

3  is lesser than 10

In [187]:
#3.Write a program that takes an integer as input and prints whether it is an even or odd number
num=int(input("Enter any number of your choice"))
if num%2==0:
 print(num,"is an even number")
else:
 print(num,"is an odd number")

Enter any number of your choice 6

6 is an even number

In [199]:
#4.Write a Program that checks whether a given year is leap year
year=int(input("Enter the year"))
if year%4==0 and year%400!=0:
 print(year,"is a leap year")
else:
 print(year,"is not a leap year")

Enter the year 20

20 is a leap year

In [207]:
#5.Write a Program to check whether a person is eligible to vote
age=int(input("Enter your age"))
if age>=18:
 print("YOU ARE ELIGIBLE TO VOTE")
else:
 print("YOU ARE NOT ELIGIBLE TO VOTE")

Enter your age 18

YOU ARE ELIGIBLE TO VOTE

In [213]:
#6.Write a program to check whether a person is pass or fail
marks=int(input("Enter the marks"))
if marks>=35:
 print("student is pass")
else:
 print("student is fail")

Enter the marks 33

student is fail

**#ELIF STATEMENT**

In [229]:
#1.DEMO OF ELIF STATEMENT
Y=int(input("Enter Any Number"))
if Y>40:
    print(Y,"is greater than 40")
elif Y>30:
    print(Y,"is greater than 30,but less than 40")
else:
    print(Y,"is lesser than 40")

Enter Any Number 36

36 is greater than 30,but less than 40

In [266]:
#2.Write a Program That takes students score as input and prints their grade A,B,C,D OR F based on the score
Total_score=int(input("Enter Your Score"))
if Total_score >= 90:
  print("Your Grade is A")
elif Total_score>=75 and Total_score<90:
       print("Your Grade is B")
elif Total_score>=50 and Total_score<75:
       print("Your Grade is C")
elif Total_score>=35 and Total_score<50:
       print("Your Grade is D")
else:
      print("Your Grade is F")

Enter Your Score 45

Your Grade is D

In [274]:
#3.Write a program determinig whether a given number is positive,negative or zero
num=int(input("ENTER ANY NUMBER:"))
if num >0:
 print("POSITIVE NUMBER")
elif num<0:
 print("NEGATIVE NUMBER")
else :
 print("ZERO NUMBER")

ENTER ANY NUMBER: -54

NEGATIVE NUMBER

In [280]:
#4.Write a Program that finds and prints the largest number among 3 input numbers.
num1=int(input("Enter first Number Of Your Choice"))
num2=int(input("Enter second Number Of Your Choice"))
num3=int(input("Enter third Number Of Your Choice"))
if num1>num2 and num1>num3:
  print(num1,"is the greatest number")
elif num2>num1 and num2>num3:
  print(num2,"is the greatest number")
else:
  print(num3,"is the greatest number")

Enter first Number Of Your Choice 4
Enter second Number Of Your Choice 3
Enter third Number Of Your Choice 5

5 is the greatest number

In [282]:
#5.Write a Program that finds and prints the Smallest number among 3 input numbers.
num1=int(input("Enter first Number Of Your Choice"))
num2=int(input("Enter second Number Of Your Choice"))
num3=int(input("Enter third Number Of Your Choice"))
if num1<num2 and num1<num3:
  print(num1,"is the smallest number")
elif num2<num1 and num2<num3:
  print(num2,"is the smallest number")
else:
  print(num3,"is the smallest number")

Enter first Number Of Your Choice 4
Enter second Number Of Your Choice 3
Enter third Number Of Your Choice 5

3 is the smallest number

In [288]:
#6.Create a simple calculator program with a menu that allows users to perform addition,subtraction,multiplication
#and division based on their choice.
num1=int(input("Enter any Number"))
num2=int(input("Enter the next number"))
addition=num1+num2
sub=num1-num2
prod=num1*num2
div=num1/num2
print(addition)
print(sub)
print(prod)
print(div)

Enter any Number 5
Enter the next number 2

7
3
10
2.5

In [300]:
#7.Write a program that checks if a given character is vowel or consonant
char=input("Enter Any Character")
if char=="A" or char=="E" or char=="I" or char=="E" or char=="U" :
  print(char,"is a Vowel")
else:
  print(char,"is a consonant")

Enter Any Character A

A is a consonant

**LOOPING STATEMENTS**

In [ ]:
Looping can used to perform Different Tasks Such as 
1.Iterating
2.Searching
3.Sorting
4.Reversing
5.Performing Calculations
There are 4 types of Loops
1.While loop
2.For Loop
3.Nested Loop
4.Loop Control Statements

**1. While Loop-Allows you to repeatedly execute a code block,if a specified condition remains true.**

In [8]:
#1.Demo of while loop
num=2
while num<=5:
    num=num+1
    print(num)

3
4
5
6

In [10]:
#2.Demo of while loop
num=1
while num<=10:
    print(num)              #print the Numbers Starting From 1 to 10
    num=num+1

1
2
3
4
5
6
7
8
9
10

In [24]:
#3.Demo of While And Else Loop
num=0
while num<10:
      print(num)
      num=num+1
else:
  print("Last Number")

0
1
2
3
4
5
6
7
8
9
Last Number

In [28]:
#4.Print Starting 5  whole numbers using while and else loop
count=0
while count<5:
      print("count =",count)
      count+=1
else:
    print("Looping Finished")

count = 0
count = 1
count = 2
count = 3
count = 4
Looping Finished

In [89]:
#wrong
#5.Write a Program using a while loop to print even numbers from 2 to 20
num=2
while num<=20:
      print(num,end=",")
      num%2==0
      num=num+1

2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,

In [63]:
#6.Write a program that asks the user to enter the number,and then uses the while loop to print the multiplication table for that number
num=input(" Please Enter Any Number Of Your Choice:")
print(num)
x=2
while x<10:
      print(x ,"*1=",x)
      x=x+1

 Please Enter Any Number Of Your Choice: 5

5
2 *1= 2
3 *1= 3
4 *1= 4
5 *1= 5
6 *1= 6
7 *1= 7
8 *1= 8
9 *1= 9

In [73]:
#7.Write a Program that calculates Factorial of a given number using while loop
num=int(input("Enter Any Number Of Your Choice"))
f=1
while num>=1:
    f=f*num
    num=num-1
print("factorial is :",f)

Enter Any Number Of Your Choice 5

factorial is : 120

In [98]:
#wrong
#8.Write a program to display odd numbers starting from 1 to 25 using while loop
num=1
while num<25:
      print(num,end=" ")
      num%2!=0
      num=num+1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24

**2.FOR LOOP and RANGE FUNCTION**

In [105]:
#1.Display the numbers 1 to 9 Using For Loop
for num in range(1,10):                       #range(start,stop)
    print(num,end=" ")

1 2 3 4 5 6 7 8 9

In [117]:
#2.Display the even numbers between 2 and 25 using range function 
for i in range(2,25,2):                      #range(start,stop,step)
    print(i,end=" ")
else:
    print("Loooping is completed")

2 4 6 8 10 12 14 16 18 20 22 24 Loooping is completed

In [115]:
for i in range(30):                          #range(stop)  #By Default Start Value is 0 and stop value will not be displayed.
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29

In [119]:
#4.Write a program to calculate Sum of all Numbers from 1 to 100 using for loop
for i in range(1,101):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [ ]:
#5.Write a program that finds and prints the prime numbers in a given range using for loop

In [ ]:
#6.write a program that prints a fibonacci sequences upto a specified number of terms using for loop.

**3.Nested Loop**

In [124]:
#1.Demo of Nested loop
for i in range(0,5):       #Outer Loop For Rows
    for j in range(i+1):   #Inner Loop For Columns
        print('*',end=" ")
    print()                #Add A line Break After Each Row

*
* *
* * *
* * * *
* * * * *

In [ ]:
#2.Write a program to print a pyramid pattern of numbers using nested loop.The user should specify the height of the pyramid

In [ ]:
#3.write a program to print a diamond pattern of numbers or characters using nested loop.

In [126]:
for i in range(0,9):
    for j in range(i+1):
        print('*',end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

**4.Looping Control Statements**

#There are 3 types of looping control Statements
1.Break-It is useful when you want to exit a loop prematurely based on some condition
2.Continue
3.Pass

In [137]:
#Demo of Break Statement
for i in range(1,11):
    if i==5:
        break
    print(i,end=" ")

1 2 3 4

In [139]:
#Demo of Continue Statement
for i in range(1,11):
    if i%2==0:
        continue                #continue statement skips even values of i,so only odd numbers from 1 to 10 are displayed
    print(i)

1
3
5
7
9

In [143]:
#Demo of Pass Statement
for i in range(10):
    if i%2==0:
        pass                          #pass statement is used to skip the even numbers in for loop
    else:
        print(i,end=" ")

1 3 5 7 9

**DATA STRUCTURES**

**STRINGS**

In [ ]:
#Data structures allow developers to store retrieve and manipulate data effectively

In [150]:
#1.Slicing is used to retrieve the substring from the main string
var="zahid"
var[0:3]

'zah'

In [154]:
#2.concatenation
var="zahid"
var1="ahmed"
print(var + " " + var1)

zahid ahmed

In [156]:
#3.converts the string into upper case
print(var.upper())

ZAHID

In [158]:
#4.converts the string into lower case 
print(var.lower())

zahid

In [160]:
#5.Capitalize() capitalizes the first character of the string & converts the rest to lower case
var="zahid ahmed"
print(var.capitalize())

Zahid ahmed

In [164]:
#6.title()-capitalizes the first character of each word
var="zahid ahmed"
print(var.title())

Zahid Ahmed

In [1]:
#7.strip()-This Function removes leading and trailing whitespaces from the given string
var="    zahid ahmed   "
print(var.strip())

zahid ahmed

In [3]:
#8.lstrip()-This Function removes leading  whitespaces from the given string
var="    zahid ahmed   "
print(var.lstrip())

zahid ahmed

In [5]:
#9.rstrip()-This Function removes trailing whitespaces from the given string
var="    zahid ahmed   "
print(var.rstrip())

    zahid ahmed

In [9]:
#10.startswith(prefix)-checks if the string starts with specified prefix
var="ALLAH"
print(var.startswith('''ALL'''))

True

In [13]:
#11.endswith(prefix)-checks if the string ends with specified suffix
var="ALLAH"
print(var.endswith('''ALL'''))

False

In [17]:
#12.REPLACE(OLD,NEW)=This function replaces old occurences with new in the string
var="ALLAHUMMA SUALLI ALAA SAYYIDINA MOHAMMADIN"
print(var.replace("SUALLI","BAARIK"))

ALLAHUMMA BAARIK ALAA SAYYIDINA MOHAMMADIN

In [21]:
var="NEST"
print(var.replace("N","B"))

BEST

In [25]:
#13.FIND(SUBSTRING)-Returns the index of the first occurence of the substring
var="ALLAHUMMA SUALLI ALAA SAYYIDINA MOHAMMADIN"
print(var.find("ALAA"))

17

In [27]:
#14.COUNT(SUBSTRING)-returns the occurences of the substring
var="ZAHID AHMED IS MY NAME.ZAHID IS THE FIRST NAME AND AHMED IS THE LAST NAME"
print(var.count("IS"))

3

In [29]:
#15.SPLIT(SUBSTRING)-SPLITS THE STRING INTO A LIST OF SUBSTRINGS BAESD ON SEPARATOR
var="ZAHID AHMED IS MY NAME.ZAHID IS THE FIRST NAME AND AHMED IS THE LAST NAME"
print(var.split(","))

['ZAHID AHMED IS MY NAME.ZAHID IS THE FIRST NAME AND AHMED IS THE LAST NAME']

In [31]:
#16.isalpha()-This Function Returns true if all the characters in the given strinng are alphabetic.
var="ZAHID 786"
print(var.isalpha())

False

In [41]:
#17.isdigit()-This Function Returns true if all the characters in the given strinng are numeric.
var="678786"
print(var.isdigit())

True

In [53]:
#18.isalnum()-This Function Returns true if all the characters in the given strinng are alphabetic and numeric.
var="ZAHID786"
print(var.isalnum())

True

In [61]:
#19.isupper()-This Function Returns true if all the characters in the given strinng are uppercase.
var="ZAHID"
print(var.isupper())

True

In [59]:
#20.islower()-This Function Returns true if all the characters in the given strinng are lowercase.
var="zahid"
print(var.islower())

True

In [ ]:
#write a program to reverse the given string
#write a program to check whether the string is palindrome(reads the same forward and backward)
#write a program to check if two strings are anagrams of each other( contains the same characters inn different order)

**STRING COMPARISION**

In [84]:
#1.old style format method(%)
name="ZAHID"
age=30
formatted_str="My Name is %s,and i am %d years old."%(name,age)
print(formatted_str)

My Name is 'ZAHID',and i am 30 years old.

In [76]:
#2.old style format method(%) using input function
name=input("Enter your name")
age=int(input("Enter your AGE"))
formatted_str="My Name is %s and I am %d years old."%(name,age)
print(formatted_str)

Enter your name AHMED
Enter your AGE 30

My Name is AHMED and I am 30 years old.

In [78]:
#3. f strings method
name="ZAHID"
age=30
formatted_str=f"My Name is {name} and i am {age} years old."
print(formatted_str)

My Name is ZAHID and i am 30 years old.

In [80]:
#4.format() method
name="ZAHID"
age=30
formatted_str="My Name is {},and i am {} years old.".format(name,age)
print(formatted_str)

My Name is ZAHID,and i am 30 years old.

**LIST**

In [159]:
#1.append-This Function adds an element at the end of the list by default
my_list=[10,20,30,40,50]
names=["ZAHID","AHMED","MOHAMMED","SUHAIB","AASIM","NAYITHI"]
mixed_list=["AHMED",10,6.5,True]
empty_list=[]
my_list.append(60)
print(my_list)

empty_list.append("zahid")
print(empty_list)

[10, 20, 30, 40, 50, 60]
['zahid']

In [161]:
#2.extend-This function adds multiple elements into the list
empty_list.extend(["zahid",60])
print(empty_list)

['zahid', 'zahid', 60]

In [105]:
#3.list.insert(i,x)-Inserts an element x at a specified position i
my_list.insert(3,35)
print(my_list)

[10, 20, 30, 35, 40, 50, 60]

In [113]:
#4.list.remove(x)-removes the first occurence of  an element x 

mixed_list.remove(10)
print(mixed_list)

['AHMED', True]

In [173]:
#5.pop()-This Function removes the element from the list
list1=[20,25,30,40]
print(list1.pop(2))

30

**INDEX()**

In [171]:
#6.index(x)-This Function returns the inndex of the first occurence of the element
list1.index(40)

2

In [226]:
#find the index of 3(First Occurence of 3)
t=(1,3,2,5,3,5,6,8)
t.index(3)

1

In [228]:
#Find The second occurence of a value 3
t=(1,3,2,5,3,5,6,8)
t.index(3,2)                    #static formula

4

In [230]:
#fird the Third Occurence of a value 5 from a tuple(static formula)
tup=(1,1,3,2,5,3,5,6,7,5,4,8)
tup.index(5,3)

4

In [242]:
#fird the Third Occurence of a value 5 from a tuple(dynamic formula)
tup=(1,1,3,2,5,3,5,6,7,5,4,8)
tup.index(5,tup.index(5)+3)

9

In [253]:
tup.index(5,tup.inndex(5,tup.index(5)+1)+1)

AttributeError: 'tuple' object has no attribute 'inndex'

**COUNT()-This Function Counts The Number Of Occurences in the list.**

tup.count?
It returns no of parameters in the count function

In [169]:
#7count(x)-This Function Counts The Number Of Occurences in the list.
list2=[10,20,30,40,30,50,20,40,50,60,70,80]
print("No of times 40 occurs in the list is ",list2.count(40))
print("NO of times 30 occurs in the list is",list2.count(30))

No of times 40 occurs in the list is  2
NO of times 30 occurs in the list is 2

**objective on Metro_card_fraud_detection**

In [277]:
Metro_card_fraud_detection =(0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0)
Metro_card_fraud_detection.count(1)            #To count Number of occurences

3

In [275]:
#obj1.How many fraudulent Swappinng is done in that day and what are the indexes of the fraud value
# 0:Normal person
# 1:Fraudulent Swapping
Metro_card_fraud_detection.index(1)   #To find the first position of the index

36

In [279]:
#To find the second occurence of 1
Metro_card_fraud_detection.index(1,Metro_card_fraud_detection.index(1)+1)

73

In [281]:
#To find the Third occurence of 1
Metro_card_fraud_detection.index(1,Metro_card_fraud_detection.index(1,Metro_card_fraud_detection.index(1)+1)+1)

128

**Demo Of Survey For Diabetes Patient**

In [ ]:
#How many males and females have participated in the survey?
gender = ("F","Male","Female","male","M","F","Male","Female","male","M","F","Male","Female","male","M","F","Male","Female","male","M","F","Male","Female","male","M","F","Male","Female","male","M","F","Male","Female","male","M","F","Male","Female","male","M")

In [167]:
#8.sort(key=none,reverse=False)=This Function sorts the elements of the list
list3=[10,20,30,40,30,50,20,40,50,60,70,80]
list3.sort()
print(list3)

[10, 20, 20, 30, 30, 40, 40, 50, 50, 60, 70, 80]

In [165]:
#9.reverse-This function reverse the elements of the list
list4=[2,4,6,8,10]
list4.reverse()
print(list4)

[10, 8, 6, 4, 2]

In [163]:
#10.copy-This Function Copies the list of elements into the other list
list5=list4.copy()
print(list5)

[10, 8, 6, 4, 2]

In [175]:
#11.clear-This Function Removes all the elements from the list
list5.clear()
print(list5)

[]

In [179]:
#12.len-This function will return the number of items in the list
list=[11,12,13,14,15,16,17,18,19,20]
print(len(list))

10

In [181]:
#13.min-This Function Will return the smallest element in the list
list=[11,12,13,14,15,16,17,18,19,20]
print(min(list))

11

In [183]:
#14.max-This Function Will return the largest element in the list
list=[11,12,13,14,15,16,17,18,19,20]
print(max(list))

20

In [185]:
#15.sum-This Function Will return the sum of all element in the list
list=[11,12,13,14,15,16,17,18,19,20]
print(sum(list))

155

In [195]:
#16.sorted-This function will return the sorted elements from the list
list16=[20,17,15,19,14,18,11,13,12]
print(sorted(list16))

[11, 12, 13, 14, 15, 17, 18, 19, 20]

**NESTED LIST**

In [197]:
nested_list=[[1,2,3],[4,5,6]]
print(nested_list)

[[1, 2, 3], [4, 5, 6]]

**LIST COMMPRHENSION**

In [1]:
#Store the names Starting with R
names = ['Gayathri', 'Akash', 'Ritu', 'Ritik', 'Radha', 'Sankar', 'Venky', 'Jyoti', 'Dhanshree', 'Vepasa', 'Jahanvi', 'Vishnu', 'Manasa', 'Ritu']
list_R=[i for i in names if i.startswith("R")]
list_R

['Ritu', 'Ritik', 'Radha', 'Ritu']

In [7]:
#Store the names Starting with Z
list_Z=[j for j in names if j.startswith("Z")]
list_Z

[]

In [205]:
#1.Display any 5 square numbers
numbers=[1,2,3,4,5]
squares=[x**2 for x in numbers]
print(squares)

[1, 4, 9, 16, 25]

In [207]:
#2.Display any 3 cubic numbers
natural_numbers=[1,5,4]
cubes=[x**3 for x in natural_numbers]
print(cubes)

[1, 125, 64]

In [ ]:

#2.write a program to remove duplicate characters from a string
#3.write a program to create a new list that contains only even numbers from an existing list
#4.Find the frequency of each element in the list
#5.Finnd the max product of two integers in a list

In [215]:
#1.write a program that capitalizes the first letter of each word in a sentence
str=input("Enter one sentence=")
print(str.capitalize())                     #It will capitalize the first letter of the sentence
print(str.title())                          #it will capitalize the first letter of each word in the sentence

Enter one sentence= zahid ahmed

Zahid ahmed
Zahid Ahmed

**TUPLE**

Tuple is a sequence of items separated by commas and the items are enclosed in parenthesis().
ATuple is an ordered sequence of elements of different data types such aas integer,float,string,list or even a tuple.
when we assign multiple values in a variable,then that is not a variable.It is called a Tuple.

In [10]:
#1.Create a tuple and Display the elements of the Tuple and also find its type.
tuple_elements=20,"ZAHID",6.5,False
print(tuple_elements)
print("ITS TYPE IS",type(tuple_elements))

(20, 'ZAHID', 6.5, False)
ITS TYPE IS <class 'tuple'>

In [52]:
#2.Create a tuple of Integers
tuple1=(10,3098,367,1826)
tuple1

(10, 3098, 367, 1826)

In [56]:
#3.Create a tuple of Mixed Data types
tuple2=('Mathematics',97,'Computers',98.4)
print(tuple2)

('Mathematics', 97, 'Computers', 98.4)

In [60]:
#4.Create a tuple With List as an elements
tuple3=("ZAHID",30,[39,"Ahmed"])
print(tuple3)

('ZAHID', 30, [39, 'Ahmed'])

In [62]:
#5.Create a tuple With tuple as an elements
tuple4=(1,2,3,(10,20))
print(tuple4)

(1, 2, 3, (10, 20))

In [72]:
#6.Access the 3rd Element from the created tuple2.
tuple2[2]

'Computers'

In [74]:
#7.Access the last second element from the tuple2.
tuple2[-2]

'Computers'

In [224]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

**SET**

In [ ]:
Set is an unordered,mutable(changeable) collection of unique elements.
sets are defined by enclosing comma separated sequence of elements in curly braces or using the built in set constructor

In [22]:
#Create a Set and Display the Elements of the Set
set_elements={"ZAHID","AHMED","AHMED",'15-05-1994',True,30.5,30}
print(set_elements)

{'15-05-1994', True, 'ZAHID', 30.5, 'AHMED', 30}

In [219]:
my_set={1,2,3,5}
print(my_set)

{1, 2, 3, 5}

**DICTIONARY**

In [45]:
#1.Create a Dictionary and display it
dict={"Name":"ZAHID",
      "AGE":30,
      "GENDER":"M",
      "PROFESSION":"DATA ANALYST"
     }
print(dict)

{'Name': 'ZAHID', 'AGE': 30, 'GENDER': 'M', 'PROFESSION': 'DATA ANALYST'}

In [47]:
print(dict['AGE'])

30

**CLASSES**

In [63]:
#1.Create a Class Bollywood with 2 different methods and call them.
class Bollywood:
   Singer="SALMAN KHAN"
   Choreographer="Remo De Souza"
   Comedian="Rajpal Yadav"
   actress="Alia Bhat"
   Actor="Ranbhir Kapoor"
   imdb=3.5
   def show_info(self):                                       #Method-1
       print(f'The Funny song from the new movie stars {self.actress},{self.Actor} and {self.Comedian}.It is Sung by {self.Singer} and choreographed by {self.Choreographer}.')
   def song_review(self):                                     #Method-2
       print(f'The imdb ratings given to the song is {self.imdb},which is good.')
#We have to create an object so that we can use the attributesand methods outside the class.
obj1=Bollywood()
obj1.Singer="Sharukh khan"
obj1.Comedian="kapil sharma"
obj1.Choreographer='Farah khan'
obj1.show_info()
obj1.song_review()

The Funny sonng from the new movie stars Alia Bhat,Ranbhir Kapoor and kapil sharma.It is Sung by Sharukh khan and choreographed by Farah khan.
The imdb ratings given to the song is 3.5,which is good.

In [73]:
#2.Create a class
class Cricket:
    Bowler="R Ashwin"
    Batsman="Sachin Tendulkar"
    Umpire="Nitin Menon"
    Audience="Sharukh Khan"
    Salary=3000
    def good_bowler(self):
        print("The Good Bowler is",self.Bowler)
    def good_batsmen(self):
        print("The good Batsmen is",self.Batsman)

obj1=Cricket()
obj1.Bowler="M.S Dhoni"
obj1.good_bowler()
obj1.good_batsmen()

The Good Bowler is M.S Dhoni
The good Batsmen is Sachin Tendulkar

In [77]:
#3.Create a class and define the objects outside the methods
class Movies:
    Hero="SALMAN KHAN"                          #Variables/Attributes defined outside the method
    Heroine="ARYA BHATT"
    Director="Rohhit Shetty"
    Producer="Vinky pandey"
    Writer="Champty pandey"
    Dialogue="Johny Lever"
    villain="Rana"
    bookmyshow=9.8
    movie="3 idiots"
    def film(self):                             # creating a Method-1
        print("The Movie released in the year 2024 is", self.movie,"And the Hero in this movie is", self.Hero)
    def financially(self):                       # creating a Method-1
        print("The Salary of each Model in the movies is",self.salary)

obj1=Movies()
obj1.Hero="AMIR KHAN"
obj1.salary=90000                                   #Variables/Attributes defined outside the class
obj1.film()
obj1.financially()

The Movie released in the year 2024 is 3 idiots And the Hero in this movie is AMIR KHAN
The Salary of each Model in the movies is 90000

In [83]:
#4.Create a class and define the objects inside the methods
class Student:
    def set_data(self):
        self.name=input("Enter your name")
        self.id=input("Enter Your Registration Number")
        self.age=input("Enter Your Age")
        self.course=input("Enter The course selected")
        self.duration=input("Enter the course duration")
        self.state=input("Enter the state")
    def show_info(self):
        print(f'{self.name} has applied for the course {self.course} and for the duration of {self.duration} and belongs to the state  {self.state}')

#create the object student
first=Student()
first.set_data()
first.show_info()

Enter your name ZAHID
Enter Your Registration Number U19DE23E0024
Enter Your Age 30
Enter The course selected DATA ANALYTICS
Enter the course duration 6 MONTHS
Enter the state BANGALORE

ZAHID has applied for the course DATA ANALYTICS and for the duration of 6 MONTHS and belongs to the state  BANGALORE

**__init__Constructor=If we donot access the method outside the class,this constructor will automatically call the method**

In [110]:
#5.Create a class with non paramerterized constructor
class Student:
    def __init__(self):                                      #NON PARAMETERIZED CONSTRUCTOR
        self.name=input("Enter your name")
        self.id=input("Enter Your Registration Number")
        self.age=input("Enter Your Age")
        self.course=input("Enter The course selected")
        self.duration=input("Enter the course duration")
        self.state=input("Enter the state")
    def show_info(self):
        print(f'{self.name} has applied for the course {self.course} and for the duration of {self.duration} and belongs to the state  {self.state}')

#create the object student
first=Student()
#first.set_data()        IF WE DONT USE THIS FUNCTION IT WILL GIVE AN ATTRIBUTE ERROR,SO INSTEAD OF THIS WE USE __INIT__CONSTRUCTOR
first.show_info()

Enter your name z
Enter Your Registration Number z
Enter Your Age z
Enter The course selected z
Enter the course duration z
Enter the state zz

z has applied for the course z and for the duration of z and belongs to the state  zz

**INHERITANCE**

**SINGLE LEVEL INHERITANCE**

In [ ]:
In the below code,I have created 2 classes Named State and City.And there are some attributes defined inside the class.
And these attributes are used in the function definition

In [16]:
class State:                                #Base class(parent class)
    state="Mysore"
    Capital="Karnataka"
    Region="North"
    def show_info(self):                    #Method with no parameter
        print(f'The Capital of {self.state} is {self.Capital}')
class City(State):                          #Derived Class(Child Class)
    city="Bnaglore"
    Area="K.G Halli"
    Location="Arabic College"
    def city_info(self):                    #Method with no parameter
        print(f'He Stays near by {self.Location} in {self.Area}, and is from the state {self.state}')
S1=State()
S1.show_info()                #object of parent class is accesiing the methods from its (parent) class itself
c1=City()                     #Creation of objects
c1.show_info()                #object of child class is accesiing the methods from parent class
c1.city_info()

The Capital of Mysore is Karnataka
The Capital of Mysore is Karnataka
He Stays near by Arabic College in K.G Halli, and is from the state Mysore

**HIERARCHIAL INHERITANCE**

In [23]:
class Car:
    mileage="24kms/hr"
    color="Red"
    Speed="120 kms"
    def car_info(self):
        self.name="Toyota"
        print(f'The car{self.name} is having the mileage{self.mileage} whose color is {self.color}')

class Mahindra(Car):
    def mah_info(self):
        print(f'The new car belongs to mahindra motors')
class Hyundai(Car):
    def hyun_info(self):
        print(f'The new car belongs to hyundai motors')

c1=Car()
M1=Mahindra()
H1=Hyundai()
M1.car_info()               #child class is accessing the members/method of  the parent class
H1.hyun_info()              #child class is accessing the members/method of its class itself

The carToyota is having the mileage24kms/hr whose color is Red
The new car belongs to hyundai motors

**MULTILEVEL INNHERITANCE**

In [42]:
class A:
    def A(self):
        print("I am A")

class B(A):
    def B(self):
        print("I am B")

class C(B):
    def C(self):
        print("I am C")

c1=C()                           #Creating 3 objects
b1=B()
a1=A()
c1.B()                         # Grand child can access the parent class
c1.A()                         # Grand child can access the Grand parent class
c1.C()                         # Grand child can access its own class
b1.A()                         #parent class can access the methods of the Grand parent class
b1.B()                         #parent class can access the methods of its own class
#b1.C()                        #parent class cannot access the methods of the child class
a1.A()                         #Grand parent class can access its own class
#a1.B()                         #Grand parent class cannot access its derived(base1) class
#a1.C()                         #Grand parent class cannot access its grand child class

I am B
I am A
I am C
I am A
I am B
I am A

**MULTIPLE INHERITANCE**

In [51]:
class parent1:
    def dad(self):
        print("Iam father")

class parent2:
    def mom(self):
        print("I am Mother")

class child(parent1,parent2):
    def child(self):
        print("I am son/Daughter of the parent")

c1=child()
c1.dad()
c1.mom()
c1.child()

Iam father
I am Mother
I am son/Daughter of the parent

**HYBRID INHERITANCE**

Hybrid Inheritance is the combination of all other types of Inheritances

In [72]:
class A:
    def A_info(self):
        print("A")

class B(A):
    def B_info(self):
        print("B")

class C(A):
    def C_info(self):
        print("C")

class D(A):
    def D_info(self):
        print("D")

class E(C):
    def E_info(self):
        print("E")

e1=E()
e1.C_info()

#Hybrid inheritance:combinations
#Single level Inheritance:(A,B),(A,C),(D,A),(D,B),(E,C)
#Multilevel inheritance:(A,B,D),(A,C,E)
#Hierarchial Inheritance:(A,B,C),(A,C,D)
#Multiple Inheritance:(A,B,D)

C

In [74]:
#METHOD RESOLUTION ORDER-Methods of same names in more than one classes
class parent1:
    def info(self):
        print("Iam father")

class parent2:
    def info(self):
        print("I am Mother")

class child(parent1,parent2):
    def info(self):
        print("I am son/Daughter of the parent")

c1=child()
c1.info()

I am son/Daughter of the parent

In [80]:
#METHOD RESOLUTION ORDER-Methods of same names in more than one classes
class parent1:
    def info(self):
        print("Iam father")
    def new_info(self):
        print("I am Mother")
class parent2:
    def info(self):
        print("I am Mother")
    def new_info(self):
        print("I am father")
class son(parent1,parent2):
    def info(self):
        print("I am son of the parent")

class daughter(parent1,parent2):
    def new_info(self):
        print("I am Daughter of the parent")

c1=son()
c1.info()
c2=daughter()
c2.info()

I am son of the parent
Iam father

**SUPER()KEY-works well with inheritance and polymorphism**

In [88]:
class Movies:
    def show_info(self):
        print("MOvies should not exceed 130 minutes")

class Bollywood(Movies):
    def show_info(self):
        super().show_info()
        print("Available in English Subtitles in urdu")

obj=Bollywood()
obj.show_info()

MOvies should not exceed 130 minutes
Available in English Subtitles in urdu

In [96]:
class Indian_Cinema:
    def show_info_1(self,max_limit):     #parametrized
        self.max_limit = max_limit            #create attribute inside the method
        print(f'Movie should not exceed {self.max_limit} minutes in length.')
    def show_info_2(self):
        print("It got a U/A certificate.")
        
class South_Cinema(Indian_Cinema):
    def show_info_1(self):
        super().show_info_1(120)        #no of parameters will decide the number of values.
        print("Available in all languages.")
    def show_info_2(self):
        print("South Cinema matches the level of International cinema.")
        
        
obj = South_Cinema()
obj.show_info_1()

#super() key: we can call the methods from the base classes having the same name.

Movie should not exceed 120 minutes in length.
Available in all languages.

In [98]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

**ENCAPSULATION**

In [22]:
#PUBLIC ACCESS SPECIFIER
class A:
    a="ZAHID"                        #1st variable in class A  is PUBLIC
    b="AHMED"                        #2nd variable in class A  is PUBLIC
    def con_str(self):               #Method of the class A is also public,that means which can be used outside the class
        print(f'{self.a} and {self.b} are colleagues')

class B(A):
    def con_str(self):
        print(f'{self.a} and {self.b} are Best Friends For ever')

obj=A()
obj.con_str()
print("outside the class:",obj.a)                           #CALLING THE VARIBLES OUTSIDE THE CLASS.YES WE CAN CALL,SINCE IT IS PUBLIC
print("outside the class:",obj.b)

ZAHID and AHMED are colleagues
outside the class: ZAHID
outside the class: AHMED

In [34]:
#PROTECTED ACCESS SPECIFIER
class A:
    _a="ZAHID"                        #1st variable in class A  is PROTECTED SINCE THERE IS A UNDERSCORE AT THE BEGININNG
    _b="AHMED"                        #2nd variable in class A  is PROTECTED SINCE THERE IS A UNDERSCORE AT THE BEGININNG
    def _con_str(self):               #Method of the class A is also public,that means which can be used outside the class
        print(f'{self._a} and {self._b} are colleagues')

class B(A):
    def con_str(self):
        super()._con_str()
        print(f'{self.a} and {self.b} are Best Friends For ever')

obj=B()                                                     #CREATING AN OBJECT OF B CLASS
obj._con_str()
print("outside the class:",obj._a)                           #CALLING THE VARIBLES OUTSIDE THE CLASS.YES WE CAN CALL,SINCE IT IS PUBLIC
print("outside the class:",obj._b)
#WE CAN CALL THE PROTECTED ATTRIBUTES OR METHODS OUTSIDE THE CLASS NOT ONLY WITH THE OBJECT OF SAME CLASS
#BUT ALSO WITH THE OBJECTS OF INHERITED CLASS

ZAHID and AHMED are colleagues
outside the class: ZAHID
outside the class: AHMED

In [49]:
#PRIVATE ACCESS SPECIFIER
class A:
    __a="ZAHID"                        #1st variable in class A  is PROTECTED SINCE THERE IS A DOUBLE UNDERSCORE AT THE BEGININNG
    __b="AHMED"                        #2nd variable in class A  is PROTECTED SINCE THERE IS A DOUBLE UNDERSCORE AT THE BEGININNG
    def __con_str(self):               #Method of the class A is PRIVATE
        print(f'{self.__a} and {self.__b} are colleagues')

class B(A):
    def con_str(self):
        super().__con_str()
        print(f'{self.a} and {self.b} are Best Friends For ever')

obj=B()                                                     #CREATING AN OBJECT OF B CLASS
obj.con_str()
print("outside the class:",obj.__a)                           #CALLING THE VARIBLES OUTSIDE THE CLASS.YES WE CAN CALL,SINCE IT IS PUBLIC
print("outside the class:",obj.__b)
#WE CAN CALL THE PUBLIC METHODS OF THE OBJECTS OF THE SAME CLASS
#WE CANNOT CALL THE PRIVATE ATTRIBBUTES EVEN WITH THE OBJECT OF THE SAME CLASS

AttributeError: 'super' object has no attribute '_B__con_str'

**POLYMORPHISM**

**Polymorphism is a property in which a method can do various functionalities using the same name.**

In [7]:
#1.simplest example
class A:
    a = 10
    b = 20
    def show_info(self):
        print(self.a+ self.b)
        
class B:
    a = "ZAHID"
    b = "AHMED"
    def show_info(self):
        print(self.a+" "+self.b)
        
obj2 = B()
obj2.show_info()

ZAHID AHMED

**How Polymorphism can be achieved?**

**1. Method Overloading: You have to use just one class having multiple methods.Methods with the same name but different number of parameters.**

**Whenever a class contains more than one methods with the same name but different number of parameters is called Method overloading.**

In [18]:
#2.
class Greeting:
    def show(self):
        print("Welcome")
    def show(self,firstname  = " "):
        print("Welcome", firstname)
    def show(self,firstname = " ",lastname = " "):
        print("Welcome",firstname,lastname)
        
        
obj = Greeting()
obj.show()        #which method will be called depends on the actual values

Welcome

In [20]:
#3.
class Summation:
    def display_sum(self,a = 0,b = 0):
        return a+b
    def display_sum(self,a = 0,b= 0,c= 0):
        return a+b+c
    
    
obj = Summation()
obj.display_sum(2,5)

7

In [22]:
#4.
class Employee:
    def emp_info(self,emp_id = " ",emp_name = " "):
        return emp_name + "-" + emp_id
    def emp_info(self,emp_id = " ",emp_name = " ",emp_designation =" "):
        return emp_name + "-"+ emp_id+"-"+emp_designation
        
inf = Employee()
#inf.emp_info("ASD123","Zahid Ahmed","Analyst")
inf.emp_info("ASD123","Zahid Ahmed")

'Zahid Ahmed-ASD123- '

**2. Method Overriding**

**Without Inheritance, Method overriding is not possible.Whenever we have the method of the same name in the parent and the child class.**

In [3]:
class EduBridge:
    def info_display(self):
        print("EduBridge has many departments.")
class Training(EduBridge):
    def info_display(self):
        super().info_display()
        print("Training is one of the departments in EduBridge. Duration of training period is 6 months.")
class Placement(EduBridge):
    def info_display(self):
        print("Placement duration starts after training period.")
        
        
df = Training()
df.info_display()
        
#Method overriding can be achieved using Inheritance and super() function.

EduBridge has many departments.
Training is one of the departments in EduBridge. Duration of training period is 6 months.